.git/
.github/
.vscode/
TODO/

.env
.env.*
!.env.example

venv/
.venv/
node_modules/

__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/

db.sqlite3
*.sqlite3
staticfiles/
mediafiles/
optimizer_api/staticfiles/

build/
dist/
