DEBUG=True
ENV_MODE=dev
DJANGO_SETTINGS_MODULE=optimizer_api.settings
PYTHONUNBUFFERED=1

OPTIMIZER_API_KEY=replace-with-local-api-key
DJANGO_SECRET_KEY=replace-with-local-django-secret

CELERY_BROKER_URL_DEV=redis://localhost:6379/0
CELERY_RESULT_BACKEND_DEV=redis://localhost:6379/0

CELERY_BROKER_URL_DOCKER=redis://optimizer_api_redis:6379/0
CELERY_RESULT_BACKEND_DOCKER=redis://optimizer_api_redis:6379/0

